body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.CustomContainer-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 230px;
    background-color: #30349a;
    margin-left: 80px;
    border-radius: 20px 0px 0px 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 20px;
}

.container-question {
    background-color: #f6f6f6;
    height: 70vh;
    width: 800px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-question img {
    height: 70vh;
    object-fit: contain;
}

#start-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
}

.button-pos {
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 70vh;
    width: 607px;
    justify-content: flex-end;
    margin-bottom: 150px;
}

.button-pos button {
    height: 55px;
    width: 220px;
    border-radius: 10px;
    font-size: 1.5em;
}

.question-text {
    position: absolute;
    height: 70vh;
    width: 805px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    margin-top: 70px;
}

.question-text h2 {
    text-align: center;
}

.answer-container {
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-top: 30px;
    height: 60px;
    background-color: white;
    width: 500px;
}

.question-text button {
    margin-right: 60px;
    height: 60px;
    width: 60px;
    font-size: 1.5em;
}

.button-game {
    width: 805px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.button-game button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    background-color: #858585;
    border: 1px solid grey;
}

.wrong-answer {
    background-color: #ff5d5d;
}

.wrong-answer button {
    background-color: #ff5d5d;
}

.right-answer {
    background-color: #69ff19;
}

.right-answer button {
    background-color: #69ff19;
}

.progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.complete-logo img {
    height: 180px;
    width: 180px;
}

.complete-logo {
    text-align: center;
}

.finishScreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.finishScreen h2 {
    margin-top: 50px;
}

.score {
    color: #ff8111;
    margin-right: 30px;
}

.share {
    margin-top: 40px;
}

.share button {
    width: 200px;
}

.replayBtn {
    color: #0063ff;
    margin-top: 30px;
    font-size: 1.5em;
    cursor: pointer;
}
.trophy {
 width: 177px;
 height: 357px;   
}